<mat-card class="produto-card">
    <mat-card-header *ngIf="owner" class="flex justify-end p-[0px_!important]">
        <button mat-icon-button color="primary">
            <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn">
            <mat-icon>delete</mat-icon>
        </button>
    </mat-card-header>
    <img src="assets/no-image.bmp" mat-card-image>
    <mat-card-title class="text-center">{{nome}}</mat-card-title>
    <mat-card-content class="my-2 text-center">{{descricao}}</mat-card-content>
    <mat-card-footer class="flex justify-around items-center">
        <label class="font-bold bg-green-500 p-1 rounded-md">R$ {{preco}}</label>
        <a mat-button [routerLink]="['/produto', id]" color="primary">Ver</a>
    </mat-card-footer>
</mat-card>
