<div class="flex flex-col h-full justify-center pl-4">
    <div class="flex">
        <app-produto-card
            [nome]="produto.nome"
            [descricao]="produto.descricao"
            [preco]="produto.preco"
            ></app-produto-card>
    </div>
</div>
