<div class="h-full w-full flex justify-center items-center">
    
    <div class="flex flex-col w-1/3">
     
        <mat-form-field appearance="fill">
            <mat-label>Username</mat-label>
            <input matInput placeholder="Placeholder">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        </mat-form-field>
        
        <mat-form-field appearance="fill">
            <mat-label>Password</mat-label>
            <input matInput placeholder="Placeholder">
            <mat-icon matSuffix>key</mat-icon>
        </mat-form-field>
    
        <button mat-flat-button color="primary">Entrar</button>
    
    </div>
</div>