<div class="grid-layout flex grid justify-items-start h-screen overflow-y-hidden">
    <div class="flex flex-col justify-between w-full">
        <div class="flex flex-col align-left text-white gap-y-2 w-full p-2">

            <button mat-raised-button color="primary" routerLink="/">
                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
                <div class="w-24">Inicio</div>
            </button>
            <button *ngIf="logado" mat-raised-button color="primary" routerLink="/usuario">
                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="person"></mat-icon>
                <div class="w-24">Usuário</div>
            </button>
            <button mat-raised-button color="primary" routerLink="/mercado">
                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="store"></mat-icon>
                <div class="w-24">Mercado</div>
            </button>
        
        </div>

        <button *ngIf="!logado" mat-raised-button color="primary" routerLink="/login" style="border-radius: 0px !important;">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="login"></mat-icon>
            <div class="w-24">Login</div>
        </button>

        <button *ngIf="logado" mat-raised-button color="primary" routerLink="/logout" style="border-radius: 0px !important;">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="logout"></mat-icon>
            <div class="w-24">Sair</div>
        </button>

    </div>

    <div class="bg-[#3e3e3e] w-full">
        <router-outlet></router-outlet>         
    </div>    
</div>

