<div class="grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-4 p-4">
    <div *ngFor="let produto of produtos">
        <app-produto-card 
            [id]="produto.id"
            [nome]="produto.nome"
            [descricao]="produto.descricao"
            [preco]="produto.preco"
            ></app-produto-card>
    </div>
</div>