@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    background-color: #313131;
}

body {
    margin: 0 !important;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
